@media (max-width: 64em) {
  .main {
    height: auto;
    margin: 5rem;
    gap: 6rem;
  }

  .info {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    min-width: auto;
  }

  .input,
  .output {
    padding: 0;
    margin: 0;
  }

  .input {
    background-color: var(--White);
    border-radius: var(--br);
    height: 50rem;
    width: 50rem;
    padding: 4rem;
  }

  .output {
    width: 50rem;
    height: 40rem;
    justify-content: space-around;
  }

  .reset-btn {
    width: 70%;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 55%;
  }

  .input,
  .output {
    width: 40rem;
  }

  .tip-percentage-btn,
  .tip-percentage-input {
    width: 10rem;
  }

  .tip-percentage-input::placeholder {
    font-size: 1.6rem;
  }

  .icon:first-child {
    top: -40px;
  }

  .results {
    align-items: center;
  }

  .tip-amount {
    width: 90%;
    gap: 5rem;
  }

  .tip-per-person span,
  .total-bill span {
    font-size: 1.4rem;
  }
}

@media (max-width: 24em) {
  .input,
  .output {
    width: 35rem;
  }

  .currency {
    top: 35px;
  }

  .tip-percentage-btn,
  .tip-percentage-input {
    width: 8rem;
  }

  .tip-percentage-input {
    padding: 0.4rem;
  }

  .icon {
    top: 40px;
  }

  .results {
    align-items: center;
  }

  .tip-amount {
    width: 90%;
    gap: 5rem;
  }

  .tip-per-person span {
    font-size: 1rem;
  }

  .total-bill span {
    font-size: 1rem;
  }

  .tip-per-person,
  .total-bill {
    font-size: 1.6rem;
  }

  .tip-per-person-amount,
  .tip-total-amount {
    color: var(--Strong-cyan);
    font-size: 4rem;
  }
}

@media (max-width: 24em) {
  .input,
  .output {
    width: 33rem;
  }
}
